/** CSS STYLE **/
@font-face{
    font-family: 'Neucha';
    src: url('../fonts/Neucha-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

:root {
    --white: #fff;
    --semitransparent-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --semitransparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 100px auto;
}

h1, h2, h3 {
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
}

h1 {
    font-size: 72px;
    font-weight: normal;
    position: relative;
    top: 100px;
    z-index: 1;
}

h2 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    position: relative;
    top: 100px;
    margin: 0;
}

h3 {
    font-size: 34px;
}

.header {
    position: relative;
    height: 914px;
    max-width: 1110px;
    margin: auto;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: -165px;
    height: 914px;
    width: 1440px;
    background-image: url(/src/img/image\ 1.png);
    background-color: var(--light);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-color {
    color: var(--main);
}

.hexlet-student {
    position: relative;
    top: -252px;
    right: -295px;
}

.paragraf {
    column-count: 2;
    column-gap: 30px;
    position: relative;
    bottom: 300px;
    max-height: 186px;
}

.button {
    width: 148px;
    height: 49px;
    background-color: var(--main);
    color: var(--white);
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 16px;
    position: relative;
    left: 570px;
    bottom: 285px;
    border: none;
}

.link {
    text-decoration: none;
    color: var(--white);
}
.video {
    height: 914px;
    background: linear-gradient(var(--white) 814px, var(--main-dark) 814px, var(--main-dark) 914px)
}

.paragraf-video {
    text-align: center;
    position: relative;
    margin: 0;
    top: 127px;
}

.video-i {
    position: relative;
    top: 157px;
    left: 261px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}